.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
/source/DZI/
_config.*.yml
themes/*
source/Widefield/**/*.jpg
source/Widefield/**/*.png
source/Widefield/**/*.gif
source/Deep-Sky/**/*.jpg
source/Deep-Sky/**/*.png
source/Deep-Sky/**/*.gif
source/Public-Data/**/*.png
